if ! [ -f "/Users/andrewr/.local/share/virtualenvs/257e9d494501b3fc23e37090989987d701e58f47529480e35613b0f922fdee62/bin/activate" ]; then
    echo "error: must reset virtualenv" >&2
    exit 1
fi

. "/Users/andrewr/.local/share/virtualenvs/257e9d494501b3fc23e37090989987d701e58f47529480e35613b0f922fdee62/bin/activate"

# prevent direnv from warning about prompt export failure
unset PS1

# export PIP_USER even though it's disabled in pip.conf.
# tox doesn't seem to respect the venv's pip.conf
export PIP_USER=0

# zsh-only. fixes virtualenv in PATH not taking precedence
command -v rehash >/dev/null && rehash
